<table class="table">
  <tr>
    <th>Camp</th>
    <th>Admin Email</th>
    <th>Modules</th>
  </tr>
  <tr *ngFor="let camp of camps">
    <td>{{camp.name}}</td>
    <td>{{camp.admin.email}}</td>
    <td>
      <p *ngFor="let module of camp.modules">{{module.formal}}</p>
      <button class="btn btn-primary" (click) = "showAddModule(camp)" *ngIf = "!camp.hideAdd">+</button>
      <app-module-dropdown (selectedChanged) = "preAdd($event,camp)" *ngIf = "camp.hideAdd" [campModules]="camp.modules"></app-module-dropdown>
      <button class="btn btn-primary" *ngIf = "camp.hideAdd" (click) = "addModule(camp)">Add</button>
    </td>
  </tr>
</table>
