<h3>Change Password</h3>
<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<form [formGroup]="newPasswordForm" (submit)="onNewPasswordSubmit()">
  <div class="form-group">
    <label for="password">New Password</label>
    <div>
      <input class="form-control" type="password" name="password" formControlName="password" />
    </div>
  </div>
  <!-- Submit Button -->
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>