<div>
  <h2>Debug</h2>
    <p>{{fd}}</p>
    <!-- <p *ngFor="let day of days">{{day.month}}</p> -->
  <h2>End Debug</h2>
</div>

<h2>{{this.visibleMonth.year}}</h2>
<h3>{{getMonthName(this.visibleMonth.month)}}</h3>

<button class="btn btn-primary" (click)="previousMonth()">Previous</button>
<button class="btn btn-primary" (click)="currentMonth()">Current</button>
<button class="btn btn-primary" (click)="nextMonth()">Next</button>
<table>
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr class="week" *ngFor="let i of [0,1,2,3,4,5]">
    <td class="day" *ngFor="let j of [0,1,2,3,4,5,6]" [ngClass]="days[7*i+j].cur ? 'cur' : 'not-cur'" (click)="dateSelected(days[7*i+j],7*i+j)">
      {{days[7*i+j].day}}
      <div *ngIf="days[7*i+j].events" [ngClass]="eventClass(days[7*i+j])">{{days[7*i+j].events.length}}</div>
    </td>
  </tr>
</table>
