<button class="btn btn-primary" (click) = "transferCampers()">Transfer Campers</button>
<button class="btn btn-primary" (click) = "transferSpecialties()">Transfer Specialties</button>
<button class="btn btn-primary" (click) = "transferDivisions()">Transfer Divisions</button>
<button class="btn btn-primary" (click) = "transferCounselors()">Transfer Counselors</button>
<button class="btn btn-primary" (click) = "transferUsers()">Transfer Users</button>
<button class="btn btn-primary" (click) = "transferSessions()">Transfer Sessions</button>
<button class="btn btn-primary" (click) = "transferQuestions()">Transfer Questions</button>
<button class="btn btn-primary" (click) = "efficientAnswers()">Efficient Answers</button>
<button class="btn btn-primary" (click) = "sessToId()">Sess To Id</button>
<button class="btn btn-primary" (click) = "rosSessToId()">Ros Sess To Id</button>
<button class="btn btn-primary" (click) = "transferRosters()">Transfer Rosters</button>
<button class="btn btn-primary" (click) = "transferSwimGroups()">Transfer Swim Groups</button>
<button class="btn btn-primary" (click) = "transferSwimLevels()">Transfer Swim Levels</button>
<button class="btn btn-primary" (click) = "convertCompleted()">Convert Completed</button>
<button class="btn btn-primary" (click) = "flSwap()">FL Swap</button>
<button class="btn btn-primary" (click) = "unsetStuff()">Unset Stuff</button>