<div *ngIf="authService.admin()">
    <div class="panel with-nav-tabs">
        <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="nav-item" [ngClass] = "{'active':i==0}" *ngFor="let session of sessions; let i = index">
                      <a  class="nav-link" id="{{session.session.name}}-tab" data-toggle="tab" href="#{{session.session.name}}" role="tab" attr.aria-controls="{{session.session.name}}" aria-selected="true">{{session.session.name}}</a>
                    </li>
                </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div *ngFor="let session of sessions; let i = index" [ngClass] = "{'in active':i==0}" class="tab-pane fade" id="{{session.session.name}}">
                    <h2>{{session.session.name}}</h2>
                    <button class="btn btn-primary" (click)="export(session.session._id)">Export</button>
                    <table class="table">
                        <tr>
                          <th>First</th>
                          <th>Last</th>
                          <th *ngFor="let i of perSession">Eval {{i+1}}</th>
                        </tr>
                        <tr *ngFor="let counselor of session.counselors">
                          <td>{{counselor.counselor.first}}</td>
                          <td>{{counselor.counselor.last}}</td>
                          <td *ngFor="let i of counselor.preFiller"></td>
                          <td *ngFor="let eval of counselor.evaluations">
                            <div>
                              <span>Status: <span [ngClass]="getClass(eval)">&#9679;</span></span>
                              <br>
                              <div *ngIf="eval.sub_evals">
                                <div *ngFor="let sub of getSubKeys(eval)">
                                    <a [routerLink]="['/evaluate', counselor.counselor._id,eval._id,sub]"><span>{{sub}}: </span><span>{{getScore(eval.sub_evals[sub])}}% </span>({{getLevel(getScore(eval.sub_evals[sub]))}})</a>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td *ngFor="let i of counselor.postFiller"></td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!authService.admin()">
  <div *ngFor="let division of divisions">
    <h2>{{division}}</h2>
    <table class="table" >
      <tr>
        <th>First</th>
        <th>Last</th>
        <th *ngFor="let i of perSession">Eval {{i+1}}</th>
      </tr>
      <tr *ngFor="let counselor of counselors[division]">
        <td>{{counselor.first}}</td>
        <td>{{counselor.last}}</td>
        <td *ngFor="let i of counselor.preFiller"></td>
        <td *ngFor="let eval of counselor.evals">
          <a [routerLink]="['/evaluate', counselor._id, eval._id,getType()]">{{eval.number==options.evaluationOpts.currentEval?"Go":"View"}}</a>
          <div>
            <span>Status: <span [ngClass]="getClass(eval)">&#9679;</span></span>
            <br>
            <div *ngFor="let sub of getSubKeys(eval)">
              <span>{{sub}}: </span><span>{{getScore(eval.sub_evals[sub])}}% </span>({{getLevel(getScore(eval.sub_evals[sub]))}})
            </div>
          </div>
        </td>
        <td *ngFor="let i of counselor.postFiller"></td>
      </tr>
    </table>
  </div>
</div>