<app-back-button></app-back-button>
<h2>Evaluation #{{evaluation?.evaluation.number}} for {{evaluation?.counselor.first}} {{evaluation?.counselor.last}}</h2>
<h3>Session: {{evaluation?.evaluation.session.name}}</h3>

<div *ngFor="let answer of evaluation?.evaluation.answers; $index as i">
    <div class="flex">
      <div class="con-td">
          <p>{{answer.question.content}}</p>
          <input class="slider" [disabled] = "view || approver" type="range" min="{{options?.evaluationOpts.low}}" max="{{options?.evaluationOpts.high}}" (change)="slider_change($event,answer)" step="1" value="{{answer.numerical}}">
          <textarea class="full form-control" [disabled] = "view || approver" (focusout)="textarea_change($event,answer)">{{answer.text}}</textarea>
      </div>
      <div class="num-td">
          <span class="numerical">{{answer.numerical}}</span>
      </div>
    </div>
    <hr>
</div>
<div *ngIf="type=='leader'">
<span>Additional Notes</span>
<textarea class="full form-control" [disabled] = "view || approver" (focusout)="additional_change($event)">{{evaluation?.evaluation.additional_notes}}</textarea>
</div>

<div id="filler"></div>


<div class="eval_summary">
  <hr>
  <div class="flex">
    <span class="flex-1">Score: {{percentage}}%</span>
    <span class="flex-1">Level: {{level}}</span>
    <div class="flex-1" *ngIf="!view">
      <div *ngIf="!approver">
        <button *ngIf="!saved" class="btn btn-primary" (click) = "save()">Save</button>
        <span *ngIf="saved">Saved</span>
        <button class="btn btn-primary" (click) = "submit()">Submit</button>
      </div>
      <div *ngIf="approver">
        <span *ngIf="!evaluation?.evaluation.submitted">Evaluation Not Yet Submitted</span>
        <button *ngIf="!evaluation?.evaluation.approved && evaluation?.evaluation?.submitted" class="btn btn-primary" (click) = "approve()">Approve</button>
        <span *ngIf="evaluation?.evaluation.approved">Approved</span>
      </div>
    </div>
  </div>
</div>
