<app-loading *ngIf="loading"></app-loading>
<div *ngIf="authService.admin()">
    <div class="panel with-nav-tabs">
        <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="nav-item" [ngClass] = "{'active':i==0}" *ngFor="let session of sessions; let i = index">
                      <a  class="nav-link" id="{{session._id.session_name}}-tab" data-toggle="tab" href="#{{session._id.session_name}}" role="tab" attr.aria-controls="{{session._id.session_name}}" aria-selected="true">{{session._id.session_name}}</a>
                    </li>
                </ul>
        </div>
        <div class="panel-body">
            <select class="form-control" (change) = "filterGender($event.target.value)">
                <option value="all">All</option>
                <option value="male">Boys</option>
                <option value="female">Girls</option>
              </select>
              <app-divisions-dropdown (selectedChanged) = "filterDivision($event)" [gender] = "male" [divisions]="divGenders('male')" *ngIf="dropdownDivisions"></app-divisions-dropdown>
            <div class="tab-content">
                <div *ngFor="let session of sessions; let i = index" [ngClass] = "{'in active':i==0}" class="tab-pane fade" id="{{session._id.session_name}}">
                    <h2>{{session._id.session_name}}</h2>
                    <table class="table" >
                        <tr>
                          <th>First</th>
                          <th>Last</th>
                          <th>Gender</th>
                          <th>Epi</th>
                          <th>Inhaler</th>
                          <th>Other</th>
                        </tr>
                        <tr *ngFor="let camper of session.campers">
                          <td>{{camper.first}}</td>
                          <td>{{camper.last}}</td>
                          <td>{{camper.gender}}</td>
                          <td><input type="checkbox" [checked]="camper.meds?.epi" (change)="epiChange($event,camper)"></td>
                          <td><input type="checkbox" [checked]="camper.meds?.inhaler" (change)="inhChange($event,camper)"></td>
                          <td>
                            <div *ngFor = "let med of camper.meds?.other"><span>{{med.name}}</span><button class="btn btn-primary btn-space" (click) = "removeMed(med,camper)">x</button></div>
                            <button class="btn btn-primary" *ngIf = "!camper.showAdd" (click) = "camper.showAdd = true">+</button>
                            <input class="form-control" type="text" *ngIf = "camper.showAdd" (input)="preAdd($event,camper)">
                            <button class="btn btn-primary" *ngIf = "camper.showAdd" (click) = "addMed(camper)">Add Med</button>
                          </td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="authService.isUser()">
  <div *ngFor="let division of divisions">
  <h2>{{division}}</h2>
  <table class="table" >
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Gender</th>
        <th>Epi</th>
        <th>Inhaler</th>
        <th>Other</th>
      </tr>
      <tr *ngFor="let camper of campers[division]">
        <td>{{camper.first}}</td>
        <td>{{camper.last}}</td>
        <td>{{camper.gender}}</td>
        <td><input type="checkbox" [checked]="camper.meds?.epi" disabled></td>
        <td><input type="checkbox" [checked]="camper.meds?.inhaler" disabled></td>
        <td>
          <div *ngFor = "let med of camper.meds?.other"><span>{{med.name}}</span></div>
        </td>
      </tr>
    </table>
  </div>
</div>
    