<div *ngIf="newCamp">
    <h2 class="page-header">Register Counselor</h2>
    
    <!-- Custom Success/Error Message -->
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    
    <!-- Login Form -->
    <form [formGroup]="form" (submit)="onRegistrationSubmit()">
    
      <div class="form-group">
        <label for="first">First Name</label>
        <div>
          <input class="form-control" type="text" name="first" formControlName="first" />
        </div>
      </div>
    
      <div class="form-group">
        <label for="last">Last Name</label>
        <div>
          <input class="form-control" type="text" name="last" formControlName="last" />
        </div>
      </div>
      
      <div class="form-group">
        <label for="gender">Gender</label>
        <div>
          <div>
            <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="male">
            <label class="form-check-label">Male</label>
          </div>
          <div>
              <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="female">
              <label class="form-check-label">Female</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <div>
            <select class="form-control" formControlName="type" name="type" >
              <option value="general">General</option>
              <option value="specialist">Specialist</option>
              <option value="group_leader">Group Leader</option>
            </select>
        </div>
      </div>
    
      <!-- Submit Button -->
      <input [disabled]="processing" class="btn btn-primary" type="submit" value="Register" />
      <input class="btn btn-primary" (click) = "cancelAdd()" value="Cancel Add" />
    </form>
</div>

<div *ngIf="bulkAdd">
    <h2 class="page-header">Bulk Upload Counselor</h2>
    
    <!-- Custom Success/Error Message -->
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    
    <!-- Login Form -->
    <form [formGroup]="bulkAddForm" (submit)="onBulkUploadSubmit()">
    
      <div class="form-group">
        <label for="counselor_file">Counselor CSV File</label>
        <div>
          <input class="form-control" type="file" (change)="fileUploaded($event)" name="counselor_file" formControlName="counselor_file" />
        </div>
      </div>
      <!-- Submit Button -->
      <input class="btn btn-primary" type="submit" value="Upload" />
      <input class="btn btn-primary" (click) = "cancelBulkAdd()" value="Cancel Add" />
    </form>
</div>

    
    <button class="btn btn-primary" (click) = "showAdd()" *ngIf = "!newCamp && authService.admin()">Add</button>
    
    <button class="btn btn-primary" (click) = "showBulkAdd()" *ngIf = "!bulkAdd && authService.admin()">Upload Counselor CSV File</button>
    
    <table class="table" *ngIf="authService.admin()">
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Gender</th>
        <th>Division</th>
        <th>Type</th>
        <th>Specialty</th>
        <th></th>
      </tr>
      <tr *ngFor="let counselor of counselors">
        <td>{{counselor.first}}</td>
        <td>{{counselor.last}}</td>
        <td>{{counselor.gender}}</td>
        <td *ngIf="counselor.division ">{{counselor.division.name}}</td>
        <td *ngIf="!counselor.division">
          <app-divisions-dropdown (selectedChanged) = "preAdd($event,counselor)" [gender]="counselor.gender"></app-divisions-dropdown>
          <button class="btn btn-primary" (click) = "addDivision(counselor)">Add</button>
        </td>
        <td>{{counselor.type}}</td>
        <td *ngIf="counselor.specialty">{{counselor.specialty.name}}</td>
        <td *ngIf="counselor.type=='specialist' && !counselor.specialty">
            <app-specialties-dropdown (selectedChanged) = "preAddSpecialty($event,counselor)"></app-specialties-dropdown>
            <button class="btn btn-primary" (click) = "addSpecialty(counselor)">Add</button>
        </td>
        <td *ngIf="counselor.type!='specialist' && !counselor.specialty"></td>
        <td><button class="btn btn-primary" (click) = "remove(counselor)">X</button></td>
      </tr>
    </table>
    <div *ngIf="authService.isUser()">
      <div *ngFor="let division of divisions">
      <h2>{{division}}</h2>
      <table class="table" >
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Specialty</th>
          </tr>
          <tr *ngFor="let counselor of counselors[division]">
            <td>{{counselor.first}}</td>
            <td>{{counselor.last}}</td>
            <td>{{counselor.gender}}</td>
            <td>{{counselor.type}}</td>
            <td>{{counselor.specialty}}</td>
          </tr>
        </table>
      </div>
    </div>
    