<app-loading *ngIf="loading"></app-loading>
<app-back-button></app-back-button>
<div *ngIf="game">
  <h2>{{game.name}}</h2>
  <h3>{{displayDateTime(game.date)}}</h3>
  <h3>@ {{game.location}}</h3>
  <h3>Against {{game.opponent}}</h3>
  
  <select class="form-control" (change) = "schedGenderChange($event.target.value)">
      <option value="male">Boys</option>
      <option value="female">Girls</option>
  </select>
  <app-divisions-dropdown (selectedChanged) = "schedDivisionChange($event)" [gender] = "male" [divisions]="schedDivisions" *ngIf="dropdownDivisions"></app-divisions-dropdown>
  <button class="btn btn-primary" (click)="changeDivision()">Change Division</button>
  <h4>{{game.division.name}} ({{game.division.gender}})</h4>
  
  <div *ngIf="game.roster&&game.roster._id">
    <h3>Roster <button *ngIf="authService.userType() =='head_specialist'" class="btn btn-primary" (click)="removeRoster()">Remove Roster</button></h3>
    <ul>
      <li *ngFor="let camper of game.roster.campers">{{camper.first}} {{camper.last}}</li>
    </ul>
  </div>
  <div *ngIf="!game.roster||(game.roster&&!game.roster._id)">
    <app-roster-dropdown (selectedChanged) ="rosterSelected($event)" [specialtyId]="game.specialty._id"></app-roster-dropdown>
    <button class="btn btn-primary" (click)="addRoster()">Add Roster</button>
  </div>
  <div *ngIf="game.coaches.length == 0">
    <h4>No Coaches Selected</h4>
  </div>
  <div *ngIf="game.coaches.length > 0">
      <h4>Coaches</h4>
      <table class="table">
          <tr *ngFor="let coach of game.coaches">
            <td>{{coach.first}} {{coach.last}}</td>
            <td><button class="btn btn-primary" (click)="removeCoachFromGame(coach)">x</button></td>
          </tr> 
      </table>
  </div>
  <div>
    <h4>Select Coach</h4>
    
    <app-counselor-selector [exclude] = "exclude" (selection)="addCoachToGame($event)"></app-counselor-selector>
  </div>
  <div *ngIf="game.refs.length == 0">
    <h4>No Refs Selected</h4>
  </div>
  <div *ngIf="game.refs.length > 0">
      <h4>Refs</h4>
      <table class="table">
          <tr *ngFor="let ref of game.refs">
            <td>{{ref.first}} {{ref.last}}</td>
            <td><button class="btn btn-primary" (click)="removeRefFromGame(ref)">x</button></td>
          </tr> 
      </table>
  </div>
  <div>
    <h4>Select Ref</h4>
    <app-counselor-selector [exclude] = "exclude" (selection)="addRefToGame($event)"></app-counselor-selector>
  </div>
</div>
