<app-loading *ngIf="loading"></app-loading>
<div *ngIf="newCamp">
    <h2 class="page-header">Register Camper</h2>
    
    <!-- Custom Success/Error Message -->
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    
    <div *ngIf="!campsService.hasModule('swim')">
      <form [formGroup]="form" (submit)="onRegistrationSubmit()">
        
          <div class="form-group">
            <label for="pID">personID</label>
            <div>
              <input class="form-control" type="text" name="pID" formControlName="pID" />
            </div>
          </div>

        <div class="form-group">
          <label for="first">First Name</label>
          <div>
            <input class="form-control" type="text" name="first" formControlName="first" />
          </div>
        </div>
      
        <div class="form-group">
          <label for="last">Last Name</label>
          <div>
            <input class="form-control" type="text" name="last" formControlName="last" />
          </div>
        </div>
        
        <div class="form-group">
          <label for="gender">Gender</label>
          <div>
            <div>
              <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="male">
              <label class="form-check-label">Male</label>
            </div>
            <div>
                <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="female">
                <label class="form-check-label">Female</label>
            </div>
          </div>
        </div>
      
        <!-- Submit Button -->
        <input class="btn btn-primary" type="submit" value="Register" />
        <input class="btn btn-primary" (click) = "cancelAdd()" value="Cancel Add" />
      </form>
    </div>
    <div *ngIf="campsService.hasModule('swim')">
      <form [formGroup]="parentForm" (submit)="onRegistrationSubmit()">
        
          <div class="form-group">
            <label for="pID">personID</label>
            <div>
              <input class="form-control" type="text" name="pID" formControlName="pID" />
            </div>
          </div>

        <div class="form-group">
          <label for="first">First Name</label>
          <div>
            <input class="form-control" type="text" name="first" formControlName="first" />
          </div>
        </div>
      
        <div class="form-group">
          <label for="last">Last Name</label>
          <div>
            <input class="form-control" type="text" name="last" formControlName="last" />
          </div>
        </div>
        
        <div class="form-group">
          <label for="gender">Gender</label>
          <div>
            <div>
              <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="male">
              <label class="form-check-label">Male</label>
            </div>
            <div>
                <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="female">
                <label class="form-check-label">Female</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="p1Name">Parent 1 Name</label>
          <div>
            <input class="form-control" type="text" name="p1Name" formControlName="p1Name" />
          </div>
        </div>
        <div class="form-group">
          <label for="p1Email">Parent 1 Email</label>
          <div>
            <input class="form-control" type="text" name="p1Email" formControlName="p1Email" />
          </div>
        </div>
        <div class="form-group">
          <label for="p2Name">Parent 2 Name</label>
          <div>
            <input class="form-control" type="text" name="p2Name" formControlName="p2Name" />
          </div>
        </div>
        <div class="form-group">
          <label for="p2Email">Parent 2 Email</label>
          <div>
            <input class="form-control" type="text" name="p2Email" formControlName="p2Email" />
          </div>
        </div>
      
        <!-- Submit Button -->
        <input class="btn btn-primary" type="submit" value="Register" />
        <input class="btn btn-primary" (click) = "cancelAdd()" value="Cancel Add" />
      </form>
    </div>
</div>

<div *ngIf="bulkAdd">
    <h2 class="page-header">Bulk Upload Campers</h2>
    <!-- Custom Success/Error Message -->
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    
    <form [formGroup]="bulkAddForm" (submit)="onBulkUploadSubmit()">
    
      <div class="form-group">
        <label for="camper_file">Camper CSV File</label>
        <div>
          <input class="form-control" type="file" (change)="fileUploaded($event)" name="camper_file" formControlName="camper_file" />
        </div>
      </div>
      <!-- Submit Button -->
      <input class="btn btn-primary" type="submit" value="Upload" />
      <input class="btn btn-primary" (click) = "cancelBulkAdd()" value="Cancel Add" />
    </form>
</div>

    
    <button class="btn btn-primary" (click) = "showAdd()" *ngIf = "!newCamp && authService.admin()">Add</button>
    
    <button class="btn btn-primary" (click) = "showBulkAdd()" *ngIf = "!bulkAdd && authService.admin()">Upload camper CSV File</button>
    
    <div *ngIf="authService.admin() && sessions">
        <div class="panel with-nav-tabs">
            <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" [ngClass] = "{'active':i==0}" *ngFor="let session of sessions; let i = index">
                          <a  class="nav-link" id="{{session._id.session_name}}-tab" data-toggle="tab" href="#{{session._id.session_name}}" role="tab" attr.aria-controls="{{session._id.session_name}}" aria-selected="true">{{session._id.session_name}}</a>
                        </li>
                    </ul>
            </div>
            <div class="panel-body">
                <select class="form-control" (change) = "filterGender($event.target.value)">
                    <option value="all">All</option>
                    <option value="male">Boys</option>
                    <option value="female">Girls</option>
                  </select>
                  <app-divisions-dropdown (selectedChanged) = "filterDivision($event)" [gender] = "male" [divisions]="divGenders('male')" *ngIf="dropdownDivisions"></app-divisions-dropdown>
                <div class="tab-content">
                    <div *ngFor="let session of sessions; let i = index" [ngClass] = "{'in active':i==0}" class="tab-pane fade" id="{{session._id.session_name}}">
                        <h2>{{session._id.session_name}}</h2>
                        <table *ngIf="!campsService.hasModule('swim')" class="table" >
                            <tr>
                              <th></th>
                              <th>First</th>
                              <th>Last</th>
                              <th>Gender</th>
                              <th>{{options.howWeSay.division}}</th>
                              <th *ngIf="i!=0"></th>
                              <th *ngIf="i!=0"><button class="btn btn-primary" (click) = "massReenroll()">Reenroll Selected</button></th>
                              <th *ngIf="i==0"></th>
                            </tr>
                            <tr *ngFor="let camper of session.campers let j = index">
                              <td (click)="goToCamper(camper._id)">{{j+1}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.first}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.last}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.gender}}</td>
                              <td (click)="goToCamper(camper._id)" *ngIf="camper.division ">{{camper.division.name}}</td>
                              <td *ngIf="!camper.division">
                                <app-divisions-dropdown *ngIf="i==0" (selectedChanged) = "preAdd($event,camper)" [gender]="camper.gender" [divisions]="divGenders(camper.gender)"></app-divisions-dropdown>
                                <button *ngIf="i==0" class="btn btn-primary" (click) = "addDivision(camper)">Add</button>
                              </td>
                        
                              <td (click)="goToCamper(camper._id)" *ngIf="i!=0 && camper.enrolled">Enrolled</td>
                              <td *ngIf="i!=0 && !camper.enrolled">
                                  <button class="btn btn-primary" (click) = "reenroll(camper,false)">Re-enroll</button>
                              </td>
                              <td (click)="goToCamper(camper._id)" *ngIf="i!=0 && camper.enrolled"></td>
                              <td *ngIf="i!=0 && !camper.enrolled">
                                  <input type="checkbox" (change)="preMassReenroll($event,camper)">
                              </td>
                              <td *ngIf="i==0"><button class="btn btn-primary" (click) = "remove(camper)">X</button></td>
                            </tr>
                          </table>
                          <table *ngIf="campsService.hasModule('swim')" class="table" >
                            <tr>
                              <th></th>
                              <th>First</th>
                              <th>Last</th>
                              <th>Gender</th>
                              <th>P1Name</th>
                              <th>P1Email</th>
                              <th>P2Name</th>
                              <th>P2Email</th>
                              <th>{{options.howWeSay.division}}</th>
                              <th *ngIf="i!=0"></th>
                              <th *ngIf="i!=0"><button class="btn btn-primary" (click) = "massReenroll()">Reenroll Selected</button></th>
                              <th *ngIf="i==0"></th>
                            </tr>
                            <tr *ngFor="let camper of session.campers let j = index">
                              <td (click)="goToCamper(camper._id)">{{j+1}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.first}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.last}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.gender}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.p1Name}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.p1Email}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.p2Name}}</td>
                              <td (click)="goToCamper(camper._id)">{{camper.p2Email}}</td>
                              <td (click)="goToCamper(camper._id)" *ngIf="camper.division ">{{camper.division.name}}</td>
                              <td *ngIf="!camper.division">
                                <app-divisions-dropdown *ngIf="i==0" (selectedChanged) = "preAdd($event,camper)" [gender]="camper.gender" [divisions]="divGenders(camper.gender)"></app-divisions-dropdown>
                                <button *ngIf="i==0" class="btn btn-primary" (click) = "addDivision(camper)">Add</button>
                              </td>
                        
                              <td (click)="goToCamper(camper._id)" *ngIf="i!=0 && camper.enrolled">Enrolled</td>
                              <td *ngIf="i!=0 && !camper.enrolled">
                                  <button class="btn btn-primary" (click) = "reenroll(camper,false)">Re-enroll</button>
                              </td>
                              <td (click)="goToCamper(camper._id)" *ngIf="i!=0 && camper.enrolled"></td>
                              <td *ngIf="i!=0 && !camper.enrolled">
                                  <input type="checkbox" (change)="preMassReenroll($event,camper)">
                              </td>
                              <td *ngIf="i==0"><button class="btn btn-primary" (click) = "remove(camper)">X</button></td>
                            </tr>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="authService.isUser()">
      <div *ngFor="let division of campers">
      <h2>{{division._id}}</h2>
      <table class="table" >
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Gender</th>
          </tr>
          <tr *ngFor="let camper of division.campers">
            <td>{{camper.first}}</td>
            <td>{{camper.last}}</td>
            <td>{{camper.gender}}</td>
          </tr>
        </table>
      </div>
    </div>
    