<div *ngIf="newHead">
  <h2 class="page-header">Register Head Staff Member</h2>

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <form [formGroup]="form" (submit)="onRegistrationSubmit()">
      <div class="form-group">
        <label for="first">First</label>
        <div>
          <input class="form-control" type="text" name="first" formControlName="first" />
        </div>
      </div>
      <div class="form-group">
        <label for="last">Last</label>
        <div>
          <input class="form-control" type="text" name="last" formControlName="last" />
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <div>
            <app-head-staff-type-dropdown (selectedChanged) = "preAddType($event,type)"></app-head-staff-type-dropdown>
        </div>
      </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div>
        <input class="form-control" type="text" name="email" formControlName="email" />
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div>
        <input class="form-control" type="password" name="password" formControlName="password" />
      </div>
    </div>
    <!-- Submit Button -->
    <input class="btn btn-primary" type="submit" value="Register" />
  </form>
</div>
<button class="btn btn-primary" (click) = "showAdd()" *ngIf = "!newHead">Add</button>
<table class="table">
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Type</th>
      <th></th>
    </tr>
    <tr *ngFor="let head of heads">
      <td>{{head.first}}</td>
      <td>{{head.last}}</td>
      <td>{{head.email}}</td>
      <td *ngIf="head.type">{{head.type.type}}</td>
      <td *ngIf="!head.type">
          <app-head-staff-type-dropdown (selectedChanged) = "preAddhType($event,head)" [types]="types"></app-head-staff-type-dropdown>
          <button class="btn btn-primary" (click) = "addhType(head)">Add</button>
      </td>
      <td><button class="btn btn-primary" (click) = "remove(head)">X</button></td>
    </tr>
  </table>