<div *ngIf="newCamp">
  <h2 class="page-header">Register Specialty</h2>
  
  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
  
  <!-- Login Form -->
  <form [formGroup]="form" (submit)="onRegistrationSubmit()">
  
    <div class="form-group">
      <label for="name">Name</label>
      <div>
        <input class="form-control" type="text" name="name" formControlName="name" />
      </div>
    </div>
  
    <!-- Submit Button -->
    <input class="btn btn-primary" type="submit" value="Register" />
    <input class="btn btn-primary" (click) = "cancelAdd()" value="Cancel Add" />
  </form>
  </div>
  
  <button class="btn btn-primary" (click) = "showAdd()" *ngIf = "!newCamp">Add</button>
  <div>
    <table class="table">
        <tr>
          <th>Name</th>
          <th>Head Specialists</th>
          <th></th>
        </tr>
        <tr *ngFor="let specialty of specialties">
          <td>{{specialty.name}}</td>
          <td>
            <p *ngFor="let leader of specialty.head_specialists">{{leader.first}} {{leader.last}} <button class="btn btn-primary" (click) = "removeHead(specialty._id,leader._id)">X</button></p>
            <app-head-staff-dropdown (selectedChanged) = "preAddHead($event,specialty)" (showAddButton) = "showAddButton($event,specialty)" [exclude]="specialty.head_specialists"></app-head-staff-dropdown>
            <button class="btn btn-primary" *ngIf = "specialty.showAddButton" (click) = "addHead(specialty)">Add</button>
          </td>
          <td><button class="btn btn-primary" (click) = "remove(specialty)">X</button></td>
        </tr>
      </table>
  </div>
  