<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
    </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.superUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register-camp">Register Camp</a></li>
        <li *ngIf="authService.superUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/camps">Camps</a></li>
        <li *ngIf="authService.superUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/modules">Modules</a></li>

        <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campers <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/campers">Campers</a></li>
                <li *ngIf="authService.loggedIn() && campsService.hasModule('meds')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/meds">Meds</a></li>
                <li *ngIf="authService.loggedIn() && campsService.hasModule('meds')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/dietary">Dietary</a></li>
            </ul>
        </li>

        <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li *ngIf="authService.admin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/head-staff">Head Staff</a></li>
              <li *ngIf="authService.admin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/divisions">Divisions</a></li>
              <li *ngIf="authService.admin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/specialties">Specialties</a></li>
              <li *ngIf="authService.admin()||authService.isUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/counselors">Counselors</a></li>
            </ul>
        </li>
        <li *ngIf="authService.loggedIn() && campsService.hasModule('eval')" class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evaluations <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/evaluations">Evals</a></li>
                <li *ngIf="authService.admin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/questions">Questions</a></li>
                <li *ngIf="authService.admin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/approvers">Approvers</a></li>
            </ul>
        </li>
        <li *ngIf="authService.loggedIn() && campsService.hasModule('sports')" class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sports<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/rosters">Rosters</a></li>
            </ul>
        </li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/login">Login</a></li>
        <li *ngIf="authService.admin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/options">Options</a></li>
        <li *ngIf="authService.loggedIn()"><a href="#" (click)="onLogoutClick()" >Logout</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>