<h2>Select Campers</h2>
<select class="form-control" (change) = "genderChange($event.target.value)">
  <option value="male">Boys</option>
  <option value="female">Girls</option>
</select>
<app-divisions-dropdown (selectedChanged) = "divisionChange($event)" [gender] = gender [divisions]="divisions"></app-divisions-dropdown>
<button class="btn btn-primary" *ngIf="selectedCampers.length > 0" (click)="addSelected()" >Add Selected</button>
<table class="table">
<tr class="camper" *ngFor="let camper of campers; let i = index" (click)="selectCamper($event,camper)">
  <td>{{camper.first}} {{camper.last}}</td>
  <td><button class="btn btn-primary" (click) = "camperSelected(i)">+</button></td>
</tr> 
</table>
<button class="btn btn-primary" *ngIf="selectedCampers.length > 0" (click)="addSelected()" >Add Selected</button>
